<div class="row">
  {{#each products}}
  <div class="card col-sm-6 col-md-4">
    <img class="card-img-top" src="{{this.imagePath}}" height="200px" width="100px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
      <div class="d-flex">
        <div>{{this.price}}</div>
        <a href="/add-to-cart/{{this._id}}" class="btn btn-primary btn-sm ml-auto pl-4 pr-4">Buy</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>